---
favicon: favicon.ico
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link rel="shortcut icon" href="{{ page.favicon }}" type="image/x-icon">

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <img src="{{ page.bigPodcastImg }}" alt="{{ page.title }}'s cover" style="float: left;">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
